body {
    background: #888888;
}
.content-title {
    font-size: 54px;
    color: #31405b;
    font-weight: 700;
}
.content-text {
    margin-bottom: 40px;
}

}
p {
    font-size: 18px;
}
.nav {
    float: right; 
    width: 100px;
}
.nav-link {
    color: #FFF;
    text-decoration: none;
} 